
:host{

    direction: rtl;
}
#my_links{

    /* background-color:  rgb(101, 181, 246); */
    font-size: 20px;
    border-radius: 10px;
}

.nav-item{
 
    cursor: pointer;
    padding-left: 50px;
}

#my_navbar_style {
max-width: 800px ;
margin: auto;
text-align: center;

}