<div id="my_navbar_style" class="container-fluid">
    <!--Navbar-->
    <mdb-navbar id="my_navbar_style" SideClass="navbar navbar-expand-sm navbar-dark indigo">

        <!-- Navbar brand -->


        <!-- Collapsible content -->
        <links id="my_links">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link waves-light" id=1 (click)="press_link($event)" mdbWavesEffect>ראשי <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">

                    <a class="nav-link waves-light" id=2 (click)="press_link($event)" mdbWavesEffect>הוראות קבע</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" id=3 (click)="press_link($event)" mdbWavesEffect>לקוחות</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" id=4 (click)="press_link($event)" mdbWavesEffect>מוסדות</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" id=5 (click)="press_link($event)" mdbWavesEffect>חיובים</a>
                </li>


            </ul>
            <!-- Links -->
        </links>

    </mdb-navbar>
</div>